<html>
<head>
    <title>ENCRYPTION</title>
</head>

<body>
	<h2>PASSWORD RESET FORM</h2>
	<form method="POST" action="/submit">
		<p>
			Username:<br>
			<input type="text" name="username" placeholder="Enter user name" size="20" maxlength="15" required><br>
			<br>
			
			Servername<br>
			<input type="text" name="servername" placeholder="Enter Server name" size="20" maxlength="15" required><br>
			<br>
			
			Password:<br>
			<input type="Password" name="password" placeholder="Enter Password" size="20" maxlength="15" required><br>
			<br>
			
			Incident:<br>
			<input type="text" name="incident" placeholder="Incident Number" size="20" maxlength="15" required><br>
			<br>
			<input type="submit" value="SUBMIT">
		</p>
	</form>

</body>

</html>